body {
    padding: 0;
    margin: 0;
}

html {
    background: url("media/background.jpeg") no-repeat center center fixed;
    background-size: cover;
}

.intro {
    display: flex;
    color: aqua;
    justify-content: space-around;
}

.intro-header, .auth__link {
    font-size: 32px;
    margin: 5px;
}